@import 'common';

body {
  background-color: $color-warm;
  color: $color-text;
  font-family: $font-body;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-title;
}

h1, h2 {
  color: $color-title;
  text-align: center;
  font-variant: small-caps;
  border-bottom: .03em solid $color-pale;
}

h3 {
  color:      $color-title;
  font-style: italic;
}

blockquote {
  line-height:    1.5em;
  margin:         .5em 2em;
  padding:        .25em;
  border:         .1em solid $color-green;
}

strong, b {
  font-family:    $font-bold;
}

em, i {
  font-family:    $font-italic;
}

p, li {
  line-height:    1.35em;
}

div.slide {

  a, a:visited, a:active, a:hover {
    color: $color-title;
  }
  ul {
    // TODO: Asterisk-styled
    padding: 0;
    li {
      list-style: none outside none;
      margin: 0;
      padding: .25em;
      display: block;
      &:before {
        content: "\2217";
        font-size: 1.75em;
        margin-right: .5em;
      }
      border-bottom: 1px dashed $color-pale;
    }
  }
  // Image alignment styles
  ///////////////////
  div.figure {
    p.caption {
      font-family: $font-mono;
    }
    @include ghetto-clearfix;
    max-width:    50%;
    min-width:    35%;
    min-height:   50%;
    float: left;
    border-right: .1em solid $color-accent;
    padding-right: .5em;
    margin-right:  .5em;
    img {
      max-width: 100%;
      max-height: 80%;
    }
    img:only-of-type {
      max-width:  92.5%;
      padding:    0;
      box-shadow: .5em 1em 1.5em $color-pale;
    }
    & + ul {
     margin-left: 52.5%;
    }
  }
  div[id^="figure"],
  div[id^="reverse"],
  div[id^="illustration"] {
    & h1, & h2, & h3 {
      display: none;
    }
  }
  div[id^='figure'],
  div[id^='illustration'] {
    div.figure {
      max-width:      100%;
      width:          100%;
      text-align: center;
      border:         none;
      img {
        max-width: 100%;
      }
    }
  }
  div[id^='figure'] div.figure {
    img {
      border:         .1em solid $color-yellow;
      padding:        .5em;
    }
  }
  div[id^='reverse'] div.figure {
    float:            right;
    border-left:      .1em solid $color-accent;
    border-right:     none;
    img {
      padding-left:   1em;
    }
    & + ul {
      margin: 0 .5em 0 0;
      max-width: 47.5%;
    }
  }
  div[id^='illustration'] div.figure {
    img {
      box-shadow: none;
    }
  }
  div[id^='three'] {
    h1, h2, h3, h4 {
      display: none;
    }
    p > img {
      max-width: 30%;
      padding: 0 1%;
    }
    div.figure {
      padding: 0 1%;
      max-width: 30%;
    }
  }
  //////// End Image alignment styles //////
  // Title Styles
  &.titleslide {
    position: absolute;
    h1 {  
      padding-top: 10%;
      margin-right: 0;
    }
  }
  ///// CODE //////
  div[id^='code'] {
    h1, h2, h3, h4 {
      display: none;
    }
    pre code.sourceCode {
      font-size: .65em;
    }
    pre {
      line-height:  70%;
    }
  }
  pre {
    overflow:         scroll;
    font-weight:      normal;
    border:           .2em $color-green;
    box-shadow:       inset 0 0 .5em $color-text;
    background-color: $color-background-mid;
    padding:          .5em;
    code {
      color:          $color-text;
      font-size:      .8em;
      padding:        0;
      background-color: transparent;
    }
    .sourceCode {
      color:          $color-text;
    }
  }
  
  code {
    background-color: $color-background-mid;
    padding:          0 .35em;
    border:           .05em dashed $color-pale;
  }
  
  // Syntax highlighting
  code > span.kw { @include color-muted($color-red); 
                   font-weight: bold; }
  code > span.dt { color: $color-blue; }
  code > span.dv { color: #40a070; }
  code > span.bn { color: #40a070; }
  code > span.fl { @include color-muted($color-green); }
  code > span.ch { color: #4070a0; }
  code > span.st { color: $color-blue; } // Attribute values
  code > span.co { @include color-muted($color-purple); font-style: italic; }
  code > span.ot { @include color-muted($color-green); } // Attributes
  code > span.al { color: #ff0000; font-weight: bold; }
  code > span.fu { color: $color-brown;}
  code > span.er { @include color-muted($color-yellow); 
                  font-weight: bold; }
}